.example-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
}

.example-full-width {
    width: 100%;
}

.todo-done {
    text-decoration: line-through;
}

.error-message {
    color: red;
    font-style: italic;
    font-size: 15px;
}