<h1>Overkill Todo</h1>

<mat-list role="list">
  <ng-container role="listitem" *ngFor="let task of tasks$ | async">
  <mat-list-item *ngIf="!task.done" >
      <mat-checkbox (click)="taskDoneClick($event, task)" [checked]="task.done">
        <p [ngClass]="task.done ? 'todo-done': ''">{{ task.title }}</p>
      </mat-checkbox>
      <button mat-flat-button (click)="detailTodoClick(task.id)">Details</button>
    </mat-list-item>
  </ng-container>

  <mat-divider></mat-divider>
  
  <ng-container  role="listitem" *ngFor="let task of tasks$ | async" >
  <mat-list-item *ngIf="task.done">
      <mat-checkbox (click)="taskDoneClick($event, task)" [checked]="task.done">
        <p [ngClass]="task.done ? 'todo-done': ''">{{ task.title }}</p>
      </mat-checkbox>
      <button mat-flat-button (click)="detailTodoClick(task.id)">Details</button>
    </mat-list-item>
  </ng-container>
</mat-list>

  