<h1>Overkill Todo</h1>

<form class="example-form">
  <mat-form-field class="example-full-width">
    <input matInput placeholder="Title" name="title" [(ngModel)]="title" required>
  </mat-form-field>

  <mat-form-field class="example-full-width">
    <textarea matInput placeholder="Description" name="description" [(ngModel)]="description" ></textarea>
  </mat-form-field>

  <button mat-flat-button color="primary" (click)="addTodoClick()">Add Todo</button>
</form>

<mat-list role="list">
  <ng-container role="listitem" *ngFor="let task of tasks$ | async">
  <mat-list-item *ngIf="!task.done" >
      <mat-checkbox (click)="taskDoneClick($event, task)" [checked]="task.done">
        <p [ngClass]="task.done ? 'todo-done': ''">{{ task.title }}</p>
      </mat-checkbox>
      <button mat-flat-button (click)="detailTodoClick(task.id)">Details</button>
      <button mat-flat-button color="warn" (click)="deleteTodoClick(task.id)">Delete</button>
    </mat-list-item>
  </ng-container>

  <mat-divider></mat-divider>
  
  <ng-container  role="listitem" *ngFor="let task of tasks$ | async" >
  <mat-list-item *ngIf="task.done">
      <mat-checkbox (click)="taskDoneClick($event, task)" [checked]="task.done">
        <p [ngClass]="task.done ? 'todo-done': ''">{{ task.title }}</p>
      </mat-checkbox>
      <button mat-flat-button (click)="detailTodoClick(task.id)">Details</button>
      <button mat-flat-button color="warn" (click)="deleteTodoClick(task.id)">Delete</button>
    </mat-list-item>
  </ng-container>
</mat-list>

  